* {
  box-sizing: border-box;
  margin: 0;
  padding-bottom: 20px;
}

.container {
  max-width: 1200px;
  margin: o auto;
  padding: 0 10px;
}

.row::after {
  display: block;
  content: "";
  clear: both;
}

.column {
  float: left;
  width: 25%;
  padding: 0 5px;
}

body {
  text-align: justify;
}

.heading {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  text-transform: capitalize;
}

img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

@media (min-width: 1000px) {
  .column {
    float: left;
    width: 25%;
    padding: 0 5px 40px 0;
  }
}
@media (min-width: 700px) and (max-width: 1000px) {
  .column {
    float: left;
    width: 50%;
    padding: 0 5px 40px 0;
  }
  img {
    height: 300px;
  }
}
@media (max-width: 700px) {
  .column {
    float: left;
    width: 100%;
    padding: 0 5px 40px 0;
  }
  img {
    height: 300px;
  }
}

@media (min-width: 1000px) {
  body {
    /* background-color: #ff0; */
  }
  .heading {
    font-size: 5em;
  }
}
@media (min-width: 700px) and (max-width: 1000px) {
  body {
    /* background-color: #0f0; */
  }
  .heading {
    font-size: 3em;
  }
}
@media (max-width: 700px) {
  body {
    /* background-color: #4d86be; */
  }
}
